<%- include('header'); -%>
<div class="main">
    <div class="header-text">
        <h1 class="header-main ">Опитування – це<br> твій голос в дії!</h1>
        <div class="header-secondary">Швидко. Просто. Доступно.</div>
        <div class="header-btn">
            <a href="voting/" class="header-button">Голосувати</a>
        </div>
    </div>

</div>
<%- include('footer'); -%>